.TopList {
    padding-left: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    margin-top: 41px;

    &__item {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #101828;
        opacity: 0.6;



        width: 100%;

        &:last-child {

            width: 100%;
            max-width: 80px;
            min-width: 80px;
            text-align: end;
        }
    }
}